{% extends 'templates/onlinestore.twig' %}

{% block content %}

	<table class="table table-hover" max-width=200px>
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Name</th>
				<th scope="col">Description</th>
				<th scope="col">Picture</th>
			</tr>
		</thead>
		<tbody>
			{% for product in product.products %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>{{ product.name }}</td>  
					<td>{{ product.description }}</td>  
					<td><img src={{ product.picture }} ></td>  
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}