{% extends 'templates/onlinestore.twig' %}

{% block content %}
	Home ist hier du opfa

	<table class="table table-hover" max-width=200px>

		<tr>
		<td>rofl1</td>
		<td>rofl2</td>
		</tr>
				<tr>
		<td>rofl1</td>
		<td>rofl2</td>
		</tr>
				<tr>
		<td>rofl1</td>
		<td>rofl2</td>
		</tr>
	</table>

{% endblock %}