{% extends 'templates/onlinestore.twig' %}

{% block content %}
<div class="row">
	<div class="col col-lg-2">
		<h1>Menu</h1>
		<ul>
			<li><a href="{{ path_for('home') }}">Home</a></li>
			<li><a href="{{ path_for('auth.password.change') }}">Change Password</a></li>
		</ul>
	</div>
	<div class="col">
		<h1>Informationen</h1>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</div>
	<div class="col col-lg-3">
		<div class="card-body">
			<h1>Picture</h1>
		</div>
		<div class="card-body">
			<h1>Data protection</h1>
			1. Never ever share your password with anyone! <br>
			2. We will never give your information to anyone without your permission!

		</div>
	</div>
</div>
{% endblock %}